#neha {
 color: black;
 margin-left: 165px;

}
ol {
  border-style: double;

}
.logo {
  margin-top: -68px;
  border-radius: 50%
}

#aboutme {
  float: left;
  padding: 10px;
}
.well {

}
li {
  font-size: 20px;
}
h2 {
  font-size: 30px;
}
